---
import Layout from '../layouts/Layout.astro';
import HeaderIndex from "../components/index/HeaderIndex.astro";
import Solutions from "../components/index/Solutions.astro";
import Weda from "../components/index/Weda.astro";
import Security from "../components/index/Security.astro";
import BrandingIndex from "../components/index/BrandingIndex.astro";
import Capabilities from "../components/index/Capabilities.astro";
import CustomerTestimonials from "../components/CustomerTestimonials.astro";
import Team from "../components/index/Team.astro";
import QnAIndex from "../components/index/Q&AIndex.astro";
import Booking from "../components/index/Booking.astro";
---

<Layout>
    <HeaderIndex/>
    <div class="h-8"/>
    <div class="bg-gradient-to-b from-white to-neutral">
        <BrandingIndex/>
        <div class="h-8"/>
        <Solutions/>
    </div>
    <div class="h-8"/>
    <Weda/>
    <div class="h-8"/>
    <Security/>
    <Capabilities/>
    <!--<Agenda/>-->
    <div class="h-32"/>
    <Booking/>
    <div class="h-32"/>
    <CustomerTestimonials/>
    <div class="bg-gradient-to-b from-neutral to-white">
        <div class="h-8"/>
        <Team/>
    </div>
    <div class="h-16"/>
    <QnAIndex/>
    <div class="h-16"/>
</Layout>
