---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Solutions from "../components/Solutions.astro";
import Weda from "../components/Weda.astro";
import Security from "../components/Security.astro";
import Branding from "../components/Branding.astro";
import Capabilities from "../components/Capabilities.astro";
import Agenda from "../components/Agenda.astro";
import CustomerTestimonials from "../components/CustomerTestimonials.astro";
import Team from "../components/Team.astro";
import QnA from "../components/Q&A.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header/>
    <div class="h-[16px] lg:h-[32px]"/>
    <div class="bg-gradient-to-b from-white to-neutral">
        <Branding/>
        <Solutions/>
    </div>
    <div class="h-[16px] lg:h-[32px]"/>
    <Weda/>
    <div class="h-[16px] lg:h-[32px]"/>
    <Security/>
    <Capabilities/>
    <Agenda/>
    <CustomerTestimonials/>
    <div class="bg-gradient-to-b from-neutral to-white">
        <div class="h-[16px] lg:h-[32px]"/>
        <Team/>
    </div>
    <QnA/>
    <Footer/>
</Layout>
