---
import Layout from "../layouts/Layout.astro";
import HeaderLocations from "../components/locations/HeaderLocations.astro";
import BrandingLocations from "../components/locations/BrandingLocations.astro";
import ServicesLocations from "../components/locations/ServicesLocations.astro";
import WhyLocations from "../components/locations/WhyLocations.astro";
import MasteredEfficiency from "../components/locations/MasteredEfficiency.astro";
import HowItWorks from "../components/locations/HowItWorks.astro";
import CustomerTestimonials from "../components/CustomerTestimonials.astro";
import QnALocations from "../components/locations/Q&ALocations.astro";
import Maintenance from "../components/locations/Maintenance.astro";
---

<Layout>
    <div class="bg-gradient-to-b from-neutral to-white">
        <HeaderLocations/>
        <div class="h-16 md:h-32"/>
        <BrandingLocations/>
        <div class="h-16 md:h-32"/>
    </div>
    <MasteredEfficiency/>
    <div class="h-16 md:h-32"/>
    <ServicesLocations/>
    <div class="h-16 md:h-32"/>
    <Maintenance/>
    <div class="h-16 md:h-32"/>
    <HowItWorks/>
    <div class="h-16 md:h-32"/>
    <WhyLocations/>
    <CustomerTestimonials/>
    <QnALocations/>
</Layout>