---
import Logo from "../assets/logos/TOUTOLERON_Embleme_blanc.svg";
import TestimonialCarousel from "./TestimonialCarousel.astro";

interface Props {
    heading?: string;
    subheading?: string;
    name?: string;
    role?: string;
    quote?: string;
    ctaLabel?: string;
}
---

<section id="customer-testimonials" class="block bg-primary py-4">
    <div class="mx-auto lg:max-h-200">
        <div class="grid md:grid-cols-2 items-center">
            <!-- Left intro -->
            <div class="relative flex justify-center items-center">

                <img src={Logo.src} alt="Logo" class="w-auto h-60 lg:h-120 opacity-25"/>

                <div class="absolute inset-0 md:pl-16">
                    <div class="h-full flex flex-col justify-center items-center md:items-start">
                        <h2 class="text-2xl lg:text-5xl leading-tight whitespace-pre-line">
                            Nos clients médecins <br/> <span class="font-semibold">en parlent le mieux.</span>
                        </h2>
                        <p class="mt-6 whitespace-pre-line">
                            Leur quotidien a changé.
                            Ils nous le disent, simplement.
                        </p>
                    </div>
                </div>

            </div>

            <TestimonialCarousel/>
        </div>
    </div>
</section>
