---
import Logo from "../assets/logos/TOUTOLERON_Logotype_blanc.svg";
---

<div class="navbar justify-self-center bg-accent rounded-2xl max-w-7xl mt-2">
    <div class="ps-8">
        <a href="/" class="flex items-center" aria-label="Accueil Toutoleron">
            <img src={Logo.src} alt="Toutoleron" class="h-7 w-auto"/>
        </a>
    </div>


    <div class="flex grow justify-end">
        <div class="flex items-stretch">

            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-link text-accent-content no-underline hover:no-underline focus:no-underline">
                    Solutions
                    <svg class="h-4 w-4 text-primary" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6" fill="none" stroke="currentColor" stroke-width="2"/></svg>
                </div>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a>Soluce 1</a></li>
                    <li><a>Soluce 2</a></li>
                </ul>
            </div>

            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-link text-accent-content no-underline hover:no-underline focus:no-underline">
                    Ressources
                    <svg class="h-4 w-4 text-primary" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6" fill="none" stroke="currentColor" stroke-width="2"/></svg>
                </div>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a>Ressource 1</a></li>
                    <li><a>Ressource 2</a></li>
                </ul>
            </div>

            <button class="btn ml-8 mr-4 bg-primary border-0 rounded-full shadow-sm">
                <span class="px-4">Prendre RDV</span>
            </button>
        </div>
    </div>
</>