---
import Qualiopi from "../assets/svg/Logo QUALIOPI.svg";
import Weda from "../assets/svg/Logo WEDA.svg";
---
<section class="py-12 lg:py-16 bg-base-200/50">
  <div class="mx-auto max-w-7xl px-6">
    <p class="text-center text-sm text-base-content/70">Ils nous font confiance</p>
    <div class="mt-6 flex flex-wrap items-center justify-center gap-10 opacity-80">
      <img src={Qualiopi.src} alt="Qualiopi" class="h-10 w-auto" />
      <img src={Weda.src} alt="WEDA" class="h-10 w-auto" />
    </div>
  </div>
</section>
