---

---

<section id="q&a">
    <div class="px-4 my-8 grid grid-cols-1 md:grid-cols-2 items-center justify-center">

        <div class="flex flex-col items-center justify-center gap-2 text-center">
            <h2 class="text-4xl">On vous <span class="font-semibold">explique tout</span></h2>
            <p>Vos questions, nos réponses.</p>
            <div class="md:hidden py-4"></div>
        </div>

        <div class="flex flex-col">
            <div tabindex="0" class="collapse collapse-plus">
                <div class="collapse-title">Combien de temps faut-il pour installer vos solutions dans mon cabinet ?
                </div>
                <div class="collapse-content">Hello World</div>
                <div class="divider divider-primary"></div>
            </div>
            <div tabindex="1" class="collapse collapse-plus">
                <div class="collapse-title">Vos services sont-ils compatibles avec les logiciels
                    que j’utilise déjà ?
                </div>
                <div class="collapse-content">Hello World</div>
                <div class="divider divider-primary"></div>
            </div>
            <div tabindex="2" class="collapse collapse-plus">
                <div class="collapse-title">Proposez-vous des formations pour utiliser vos
                    outils ?
                </div>
                <div class="collapse-content">Hello World</div>
                <div class="divider divider-primary"></div>
            </div>
            <div tabindex="3" class="collapse collapse-plus">
                <div class="collapse-title">Quels sont les coûts associés à vos services ?</div>
                <div class="collapse-content">Hello World</div>
            </div>
        </div>

    </div>
</section>