---

---

<section id="q&a-locations">
    <div class="px-16 grid grid-cols-1 md:grid-cols-5 items-start justify-center">

        <div class="flex flex-col gap-2 md:col-span-2">
            <h2 class="text-3xl md:text-5xl">On vous <br/><span class="font-semibold">explique tout</span></h2>
            <p class="pt-8">Vos questions, nos réponses.</p>
            <div class="md:hidden py-4"></div>
        </div>

        <div class="flex flex-col md:col-span-3">
            <div tabindex="0" class="collapse collapse-plus text-xl">
                <div class="collapse-title font-semibold">C’est quoi un écosystème numérique ?</div>
                <div class="collapse-content">Hello World</div>
                <div class="divider divider-primary"></div>
            </div>
            <div tabindex="1" class="collapse collapse-plus text-xl">
                <div class="collapse-title font-semibold">Pourquoi louer son matériel informatique par abonnement ?</div>
                <div class="collapse-content">Hello World</div>
                <div class="divider divider-primary"></div>
            </div>
            <div tabindex="2" class="collapse collapse-plus text-xl">
                <div class="collapse-title font-semibold">Qu’est-ce qui est compris dans l’abonnement ?</div>
                <div class="collapse-content">Hello World</div>
                <div class="divider divider-primary"></div>
            </div>
            <div tabindex="3" class="collapse collapse-plus text-xl">
                <div class="collapse-title font-semibold">Dois-je fournir un apport ou dépôt de garantie lors de la commande ?</div>
                <div class="collapse-content">Hello World</div>
            </div>
        </div>

    </div>
</section>