@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-base-100: oklch(0.9837 0.0066 106.52);
    --color-base-200: oklch(0.9627 0.0147 98.29);
    --color-base-300: oklch(0.9451 0.0318 101.15);
    --color-primary: oklch(0.7895 0.1195 101.75);
    --color-primary-content: oklch(0.2531 0.0458 221.92);
    --color-secondary: oklch(0.8885 0.0258 268.83);
    --color-accent: oklch(0.2531 0.0458 221.92);
    --color-accent-content: white;
    --color-accent-focus: white;
    --color-neutral: oklch(0.9635 0.0149 94.2);
    --color-info: oklch(0.8881 0.0245 267.91);
    --color-info-content: oklch(0.9212 0.0188 265.98);
}

@font-face {
    font-family: "Mona Sans";
    src: url("./fonts/Mona Sans/MonaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("./fonts/Mona Sans/MonaSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("./fonts/Mona Sans/MonaSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("./fonts/Mona Sans/MonaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Recoleta Alt";
    src: url("./fonts/Recoleta Alt/RecoletaAlt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Recoleta Alt";
    src: url("./fonts/Recoleta Alt/RecoletaAlt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Recoleta Alt";
    src: url("./fonts/Recoleta Alt/RecoletaAlt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Recoleta Alt";
    src: url("./fonts/Recoleta Alt/RecoletaAlt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-sans: "Mona Sans", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    --font-display: "Recoleta Alt", var(--font-sans);
}

html, body {
    font-family: var(--font-sans);
}

h1, h2, h3 {
    font-family: var(--font-display);
}
