---

---

<section id="booking">
    <div class="flex flex-col gap-10 items-center justify-evenly">
        <h1 class="text-2xl sm:text-6xl">Échangeons <span class="font-semibold">ensemble ?</span></h1>
        <a class="btn btn-primary text-primary-content text-xl p-6 rounded-full shadow-none border-0" target="_blank"
           href='https://outlook.office.com/book/test@toutoleron.com/?ismsaljsauthenabled'>Prenez rendez-vous</a>
    </div>
</section>