---
import Team0 from '../../assets/photos/DANIEL.png'
import Team1 from '../../assets/photos/Alexandre.jpeg'
import Team2 from '../../assets/photos/ALEXIS.png'
import Team3 from '../../assets/photos/ANATOLE.png'
import Team4 from '../../assets/photos/CHARLOTTE.png'
import Team5 from '../../assets/photos/FANNY.png'
import Team6 from '../../assets/photos/FLAVIEN.png'
import Team7 from '../../assets/photos/GEOFFREY.png'
import Team8 from '../../assets/photos/KYLLIAN.png'
import Team9 from '../../assets/photos/MANU.png'
import Team10 from '../../assets/photos/MATTHIEU.png'
import Team11 from '../../assets/photos/NICO.png'
import Team12 from '../../assets/photos/NOE.png'
import Team13 from '../../assets/photos/PAULINE.png'
import Team14 from '../../assets/photos/ROMAIN.png'
import Team15 from '../../assets/photos/SARAH_BERNARD.png'
import Team16 from '../../assets/photos/SARAH_BOISSON.png'
import Team17 from '../../assets/photos/WILL.png'

const teamPictures: ImageMetadata[] = [
    Team0, Team1, Team2, Team3, Team4, Team5, Team6, Team7, Team8, Team9, Team10, Team11, Team12, Team13, Team14, Team15, Team16, Team17,
];
---

<section id="team">
    <div class="flex flex-col gap-5 items-center justify-center w-full py-8 px-2 text-center">
        <h2 class="text-3xl md:text-5xl">Toujours disponibles <span class="font-semibold">pour vous aider</span></h2>
        <p class="py-4 max-w-lg">
            Une équipe proche des soignants, qui comprend vos enjeux et vous accompagne à chaque étape
        </p>
        <button class="p-6 btn btn-primary text-xl text-primary-content rounded-full shadow-none border-0">Rencontrez
            notre équipe
        </button>

        <div class="carousel gap-2 mt-16">
            {
                teamPictures.map((teamPicture, index) => (
                        <div id={`team${index}`}
                             class="carousel-item">
                            <img src={teamPicture.src} alt="Team member" class="w-60 h-auto rounded-2xl object-cover"/>
                        </div>
                ))
            }
        </div>
    </div>
</section>